<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="itab-body">
      <div class="itab-content active" id="description">
        <div class="user-product-detail-content">
          <p>
            <span style="color: #ff0000"
              ><span style="font-size: 22px"
                ><span
                  style="
                    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                  "
                  ><strong
                    >M4 Akıllı Saat Bileklik Kalp Hızı Kan Basıncı Nabız
                    Pedometre Smart Watch</strong
                  ></span
                ></span
              ></span
            ><br />
            <br />
            <br />
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >Uyumlu İşletim Sistemi:&nbsp;Android&nbsp; iOS -
                  Apple&nbsp;&nbsp;</strong
                ></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>Paket Büyüklüğü: 5.0 * 5.0 * 1.0 ( cm )</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>Brüt Ağırlık/Paket: 0.15 ( kg )</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>Çalışma Modu: Dokunmatik</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>Açma: Uzun Basma Fonksiyon Tuşu</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>IP67 Su Geçirmez</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>Şarj Gerilimi :&nbsp;5V Akım 1A - 2.1A</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>Şarj Süresi :&nbsp;2 Saat</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>Bekleme Süresi:&nbsp;3-5 gün</strong></span
              ></span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >Tüm gün aktivite takibi: basamaklar, yakılan kaloriler,
                  kilometre ve kalp atış hızı.</strong
                ></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >Akıllı hatırlatma: çağrı hatırlatma, mesajlaşma zorlama,
                  yerleşik hatırlatma.</strong
                ></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >Diğer özellikler: telefon araması, uzaktan kamera çekimi,
                  kronometre.</strong
                ></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >Sürekli kalp atış hızı monitörü: Bileğinizde saniyede bir
                  sürekli, otomatik kalp atış hızı takibi.</strong
                ></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >0,96 inç TFT renkli dokunmatik ekran: Tüm fitness verilerini
                  okumak için HD ekran.</strong
                ></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>Özelleştirilebilir saat yüzleri</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >Bluetooth 4.0, Android 4.4 ve üzeri sistemlerle uyumlu, ios
                  8.0 ve üzeri sistemlerle uyumludur.</strong
                ></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >Bilezik desteği destek dili: Dünya çapında yaklaşık 200
                  ulusal dil, küresel yazı tipleri için zorlanıyor</strong
                ></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >APP Destek Dili: Rusça, Almanca, İtalyanca, Japonca,
                  Fransızca, Basitleştirilmiş Çince, Geleneksel Çince,
                  Portekizce, İspanyolca, Arapça, Korece</strong
                ></span
              ></span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>Paket içer:</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong
                  >1 * M4 Smart Watch Bileklik Kalp Hızı Kan Basıncı Nabız
                  Pedometre</strong
                ></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>1 * Kullanım Kılavuzu</strong></span
              ></span
            >
          </p>
          <p>
            <span style="font-size: 14px"
              ><span
                style="
                  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
                "
                ><strong>1 * Şarj Kablosu</strong></span
              ></span
            >
          </p>
        </div>
      </div>

      <div class="itab-content" id="specs">
        <div class="xs-6 sm-6 md-6 mini-product">
          <div class="row basic middle-lg middle-md">
            <div class="xs-2 sm-2 md-2">
              <div class="images">
                <img
                  src="//www.ipsizcambaz.com/ucdn/images/1fwznv2nz6rkke874ylo-3wsn2tjf2ck0ke874ylp-list.jpg"
                  alt="M4 Akıllı Saat Bileklik Kalp Hızı Kan Basıncı Nabız Pedometre Smart Watch"
                />
              </div>
            </div>
            <div class="xs-8 sm-8 md-8">
              <div class="name">
                <span class="b2c-text">
                  M4 Akıllı Saat Bileklik Kalp Hızı Kan Basıncı Nabız Pedometre
                  Smart Watch
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="product-properties-lists xs-12 sm-12 md-12">
          <div class="row">
            <div class="xs-6 sm-6 md-6 item">
              <strong>Marka</strong>
              <span class="b2c-text"> Diğer </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong>Garanti Durumu</strong>
              <span> Garantisiz </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong>Garanti Süresi</strong>
              <span> Yok </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong> İşletim Sistemi </strong>
              <span> Belirtilmemiş </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong> Su Geçirmezlik </strong>
              <span> Belirtilmemiş </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong> Kamera Çözünürlüğü </strong>
              <span> Belirtilmemiş </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong> Renk </strong>
              <span> Belirtilmemiş </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong> Titreşim </strong>
              <span> Belirtilmemiş </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong> Uyku Takibi </strong>
              <span> Belirtilmemiş </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong> Adım Sayar </strong>
              <span> Belirtilmemiş </span>
            </div>
            <div class="xs-6 sm-6 md-6 item">
              <strong> Kalp Ritmi Ölçer </strong>
              <span> Belirtilmemiş </span>
            </div>
          </div>
        </div>
      </div>

      <div class="itab-content" id="comments">
        <div
          class="row ng-scope"
          data-ng-controller="ProductCommentController as pcmvm"
        >
          <div class="xs-6 sm-6 md-6 mini-product">
            <div class="row basic middle-lg middle-md">
              <div class="xs-2 sm-2 md-2">
                <div class="images">
                  <img
                    src="//www.ipsizcambaz.com/ucdn/images/1fwznv2nz6rkke874ylo-3wsn2tjf2ck0ke874ylp-list.jpg"
                    alt="M4 Akıllı Saat Bileklik Kalp Hızı Kan Basıncı Nabız Pedometre Smart Watch"
                  />
                </div>
              </div>
              <div class="xs-8 sm-8 md-8">
                <div class="name">
                  <span class="b2c-text">
                    M4 Akıllı Saat Bileklik Kalp Hızı Kan Basıncı Nabız
                    Pedometre Smart Watch
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="product-comment-count xs-6 sm-6 md-6">
            <div class="row justify-content-end">
              <div class="">
                <div
                  class="d-flex border-m-0 border-m-light flex-m-column justify-content-between align-items-center w-100 h-100 p-m-0"
                >
                  <div
                    class="comment-score border-m-0 border-1 border-light p-m-0 p-3 h-100 mr-m-0 mr-4"
                  >
                    <div
                      class="score-list score-list border-m-1 p-m-3 border-m-light mb-2"
                    >
                      <div
                        class="star-box d-flex flex-m-column justify-content-between align-items-center w-100"
                      >
                        <div
                          class="d-flex flex-m-row justify-content-start align-items-center m-nowrap mb-m-2 w-50 w-m-100"
                        >
                          <div
                            class="stars d-flex justify-content-start align-items-center mr-3 w-100"
                          >
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                          </div>
                          <div
                            class="score-title font-size-12 default-text w-m-auto w-100 bold mr-m-0 mr-3 text-right"
                          >
                            Mükemmel
                          </div>
                        </div>
                        <div
                          class="d-flex justify-content-center align-items-center"
                        >
                          <div class="score-bar mr-3 w-100 w-m-100">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="score-list score-list border-m-1 p-m-3 border-m-light mb-2"
                    >
                      <div
                        class="star-box d-flex flex-m-column justify-content-between align-items-center w-100"
                      >
                        <div
                          class="d-flex flex-m-row justify-content-start align-items-center m-nowrap mb-m-2 w-50 w-m-100"
                        >
                          <div
                            class="stars d-flex justify-content-start align-items-center mr-3 w-100"
                          >
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class=""></span>
                          </div>
                          <div
                            class="score-title font-size-12 default-text w-m-auto w-100 bold mr-m-0 mr-3 text-right"
                          >
                            Çok İyi
                          </div>
                        </div>
                        <div
                          class="d-flex justify-content-center align-items-center"
                        >
                          <div class="score-bar mr-3 w-100 w-m-100">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="score-list score-list border-m-1 p-m-3 border-m-light mb-2"
                    >
                      <div
                        class="star-box d-flex flex-m-column justify-content-between align-items-center w-100"
                      >
                        <div
                          class="d-flex flex-m-row justify-content-start align-items-center m-nowrap mb-m-2 w-50 w-m-100"
                        >
                          <div
                            class="stars d-flex justify-content-start align-items-center mr-3 w-100"
                          >
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class=""></span>
                            <span class=""></span>
                          </div>
                          <div
                            class="score-title font-size-12 default-text w-m-auto w-100 bold mr-m-0 mr-3 text-right"
                          >
                            İyi
                          </div>
                        </div>
                        <div
                          class="d-flex justify-content-center align-items-center"
                        >
                          <div class="score-bar mr-3 w-100 w-m-100">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="score-list score-list border-m-1 p-m-3 border-m-light mb-2"
                    >
                      <div
                        class="star-box d-flex flex-m-column justify-content-between align-items-center w-100"
                      >
                        <div
                          class="d-flex flex-m-row justify-content-start align-items-center m-nowrap mb-m-2 w-50 w-m-100"
                        >
                          <div
                            class="stars d-flex justify-content-start align-items-center mr-3 w-100"
                          >
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class=""></span>
                            <span class=""></span>
                            <span class=""></span>
                          </div>
                          <div
                            class="score-title font-size-12 default-text w-m-auto w-100 bold mr-m-0 mr-3 text-right"
                          >
                            Eh İşte
                          </div>
                        </div>
                        <div
                          class="d-flex justify-content-center align-items-center"
                        >
                          <div class="score-bar mr-3 w-100 w-m-100">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="score-list score-list border-m-1 p-m-3 border-m-light"
                    >
                      <div
                        class="star-box d-flex flex-m-column justify-content-between align-items-center w-100"
                      >
                        <div
                          class="d-flex flex-m-row justify-content-start align-items-center m-nowrap mb-m-2 w-50 w-m-100"
                        >
                          <div
                            class="stars d-flex justify-content-start align-items-center mr-3 w-100"
                          >
                            <span class="active"></span>
                            <span class=""></span>
                            <span class=""></span>
                            <span class=""></span>
                            <span class=""></span>
                          </div>
                          <div
                            class="score-title font-size-12 default-text w-m-auto w-100 bold mr-m-0 mr-3 text-right"
                          >
                            Kötü
                          </div>
                        </div>
                        <div
                          class="d-flex justify-content-center align-items-center"
                        >
                          <div class="score-bar mr-3 w-100 w-m-100">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="commit-total-count border-m-0 h-100 mr-m-0 mr-4">
                    <span>Ortalama Puan</span>
                    <h2>0</h2>
                    <div class="stars">
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="xs-12 sm-12 md-12 comment-header-prop">
            <div class="row basic">
              <div class="xs-12 sm-12 md-12">
                <div class="row">
                  <button
                    class="btn btn-b2c raund popup-click-button"
                    data-ng-click="pcmvm.newCommentOpenPopup()"
                  >
                    <i class="fa fa-envelope-o left"></i>
                    <span>Yorum Yap</span>
                  </button>
                  <p class="comment-count ng-binding">Tüm Yorumlar(0)</p>
                </div>
              </div>
            </div>
          </div>

          <div class="comment-lists">
            <!-- ngIf: pcmvm.productCommentsCount === 0 -->
            <div
              class="alert alert-warning top-spc ng-scope"
              data-ng-if="pcmvm.productCommentsCount === 0"
            >
              <span
                >Bu ürün ile ilgili hiç yorum yapılmamış. İlk yorumu yapan sen
                olabilirsin!</span
              >
            </div>
            <!-- end ngIf: pcmvm.productCommentsCount === 0 -->
            <!-- ngRepeat: comment in pcmvm.productComments.data -->
          </div>

          <!-- ngIf: pcmvm.totalPage > 1 -->
        </div>
      </div>

      <div class="itab-content" id="qa">
        <div
          class="row ng-scope"
          data-ng-controller="ProductQuestionController as pqvm"
        >
          <div class="xs-6 sm-6 md-6 mini-product">
            <div class="row basic middle-lg middle-md">
              <div class="xs-2 sm-2 md-2">
                <div class="images">
                  <img
                    src="//www.ipsizcambaz.com/ucdn/images/1fwznv2nz6rkke874ylo-3wsn2tjf2ck0ke874ylp-list.jpg"
                    alt="M4 Akıllı Saat Bileklik Kalp Hızı Kan Basıncı Nabız Pedometre Smart Watch"
                  />
                </div>
              </div>
              <div class="xs-8 sm-8 md-8">
                <div class="name">
                  <span class="b2c-text">
                    M4 Akıllı Saat Bileklik Kalp Hızı Kan Basıncı Nabız
                    Pedometre Smart Watch
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="store-questions xs-12 sm-12 md-12">
            <div class="store-question-head">
              <p>Ürün hakkında daha fazla bilgiye mi ihtiyacın var ?</p>
              <button
                class="btn btn-b2c raund popup-click-button"
                data-ng-click="pqvm.newQestionOpenPopup()"
              >
                Mağazaya Soru Sor
              </button>
              <!-- ngIf: pqvm.gsmConfirmedError -->
            </div>
            <div class="question-lists">
              <!-- ngIf: pqvm.productQuestionLists.length === 0 -->
              <div
                class="alert alert-warning ng-scope"
                data-ng-if="pqvm.productQuestionLists.length === 0"
                style=""
              >
                <span
                  >Kayıtlı soru ve cevap bulunmamaktadır, merak ettiklerinizi
                  sorabilirsiniz..</span
                >
              </div>
              <!-- end ngIf: pqvm.productQuestionLists.length === 0 -->
              <section
                class="balloon-wrapper w-100 d-flex flex-m-column flex-row flex-wrap justify-content-between h-100"
              >
                <!-- ngRepeat: question in pqvm.productQuestionLists -->
              </section>
            </div>

            <!-- ngIf: pqvm.totalPage > 1 -->
          </div>
        </div>
      </div>

      <div class="itab-content" id="installments">
        <div class="xs-6 sm-6 md-6 mini-product">
          <div class="row basic middle-lg middle-md">
            <div class="xs-2 sm-2 md-2">
              <div class="images">
                <img
                  src="//www.ipsizcambaz.com/ucdn/images/1fwznv2nz6rkke874ylo-3wsn2tjf2ck0ke874ylp-list.jpg"
                  alt="M4 Akıllı Saat Bileklik Kalp Hızı Kan Basıncı Nabız Pedometre Smart Watch"
                />
              </div>
            </div>
            <div class="xs-8 sm-8 md-8">
              <div class="name">
                <span class="b2c-text">
                  M4 Akıllı Saat Bileklik Kalp Hızı Kan Basıncı Nabız Pedometre
                  Smart Watch
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="payment-options xs-12 sm-12 md-12">
          <div class="row basic">
            <div class="md-12 xs-2-5 sm-2-5 md-2-5 mb-3">
              <div class="item">
                <div class="bank">
                  <img
                    src="//www.ipsizcambaz.com/cdn/assets/images/Maximum.png"
                  />
                </div>
                <div class="payment-lists">
                  <table class="table bordered">
                    <thead>
                      <tr>
                        <th>Taksit</th>
                        <th>Taksit Tutarı</th>
                        <th>Toplam</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>84,24 TL</td>
                        <td>84,24 TL</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>44,32 TL</td>
                        <td>88,63 TL</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>29,90 TL</td>
                        <td>89,71 TL</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>15,44 TL</td>
                        <td>92,66 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>9</td>
                        <td>10,74 TL</td>
                        <td>96,62 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>12</td>
                        <td>8,38 TL</td>
                        <td>100,55 TL</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="md-12 xs-2-5 sm-2-5 md-2-5 mb-3">
              <div class="item">
                <div class="bank">
                  <img
                    src="//www.ipsizcambaz.com/cdn/assets/images/Cardfinans.png"
                  />
                </div>
                <div class="payment-lists">
                  <table class="table bordered">
                    <thead>
                      <tr>
                        <th>Taksit</th>
                        <th>Taksit Tutarı</th>
                        <th>Toplam</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>84,24 TL</td>
                        <td>84,24 TL</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>44,32 TL</td>
                        <td>88,63 TL</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>29,90 TL</td>
                        <td>89,71 TL</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>15,44 TL</td>
                        <td>92,66 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>9</td>
                        <td>10,74 TL</td>
                        <td>96,62 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>12</td>
                        <td>8,38 TL</td>
                        <td>100,55 TL</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="md-12 xs-2-5 sm-2-5 md-2-5 mb-3">
              <div class="item">
                <div class="bank">
                  <img
                    src="//www.ipsizcambaz.com/cdn/assets/images/Paraf.png"
                  />
                </div>
                <div class="payment-lists">
                  <table class="table bordered">
                    <thead>
                      <tr>
                        <th>Taksit</th>
                        <th>Taksit Tutarı</th>
                        <th>Toplam</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>84,24 TL</td>
                        <td>84,24 TL</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>44,32 TL</td>
                        <td>88,63 TL</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>29,90 TL</td>
                        <td>89,71 TL</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>15,44 TL</td>
                        <td>92,66 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>9</td>
                        <td>10,74 TL</td>
                        <td>96,62 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>12</td>
                        <td>8,38 TL</td>
                        <td>100,55 TL</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="md-12 xs-2-5 sm-2-5 md-2-5 mb-3">
              <div class="item">
                <div class="bank">
                  <img
                    src="//www.ipsizcambaz.com/cdn/assets/images/World.png"
                  />
                </div>
                <div class="payment-lists">
                  <table class="table bordered">
                    <thead>
                      <tr>
                        <th>Taksit</th>
                        <th>Taksit Tutarı</th>
                        <th>Toplam</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>84,24 TL</td>
                        <td>84,24 TL</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>44,32 TL</td>
                        <td>88,63 TL</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>29,90 TL</td>
                        <td>89,71 TL</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>15,44 TL</td>
                        <td>92,66 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>9</td>
                        <td>10,74 TL</td>
                        <td>96,62 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>12</td>
                        <td>8,38 TL</td>
                        <td>100,55 TL</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="md-12 xs-2-5 sm-2-5 md-2-5 mb-3">
              <div class="item">
                <div class="bank">
                  <img
                    src="//www.ipsizcambaz.com/cdn/assets/images/Axess.png"
                  />
                </div>
                <div class="payment-lists">
                  <table class="table bordered">
                    <thead>
                      <tr>
                        <th>Taksit</th>
                        <th>Taksit Tutarı</th>
                        <th>Toplam</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>84,24 TL</td>
                        <td>84,24 TL</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>44,32 TL</td>
                        <td>88,63 TL</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>29,90 TL</td>
                        <td>89,71 TL</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>15,44 TL</td>
                        <td>92,66 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>9</td>
                        <td>10,74 TL</td>
                        <td>96,62 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>12</td>
                        <td>8,38 TL</td>
                        <td>100,55 TL</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="md-12 xs-2-5 sm-2-5 md-2-5 mb-3">
              <div class="item">
                <div class="bank">
                  <img
                    src="//www.ipsizcambaz.com/cdn/assets/images/Bonus.png"
                  />
                </div>
                <div class="payment-lists">
                  <table class="table bordered">
                    <thead>
                      <tr>
                        <th>Taksit</th>
                        <th>Taksit Tutarı</th>
                        <th>Toplam</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>84,24 TL</td>
                        <td>84,24 TL</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>44,32 TL</td>
                        <td>88,63 TL</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>29,90 TL</td>
                        <td>89,71 TL</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>15,44 TL</td>
                        <td>92,66 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>9</td>
                        <td>10,74 TL</td>
                        <td>96,62 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>12</td>
                        <td>8,38 TL</td>
                        <td>100,55 TL</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="md-12 xs-2-5 sm-2-5 md-2-5 mb-3">
              <div class="item">
                <div class="bank">
                  <img
                    src="//www.ipsizcambaz.com/cdn/assets/images/BankkartCombo.png"
                  />
                </div>
                <div class="payment-lists">
                  <table class="table bordered">
                    <thead>
                      <tr>
                        <th>Taksit</th>
                        <th>Taksit Tutarı</th>
                        <th>Toplam</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>84,24 TL</td>
                        <td>84,24 TL</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>44,32 TL</td>
                        <td>88,63 TL</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>29,90 TL</td>
                        <td>89,71 TL</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>15,44 TL</td>
                        <td>92,66 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>9</td>
                        <td>10,74 TL</td>
                        <td>96,62 TL</td>
                      </tr>
                      <tr class="corp-card">
                        <td>12</td>
                        <td>8,38 TL</td>
                        <td>100,55 TL</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <p class="corp-card-warn">
            <i class="fa fa-stop corp-card-box" aria-hidden="true"></i>
            Renkli tablolardaki taksit seçenekleri sadece kurumsal kartlar için
            geçerlidir.
          </p>
        </div>
      </div>

      <div class="itab-content" id="contracts">
        <div>
          <p>
            <span style="background-color: #ffffff"
              ><span
                style="
                  color: #1d1c1d;
                  font-family: Slack-Lato, appleLogo, sans-serif;
                  font-size: 15px;
                  font-variant-ligatures: common-ligatures;
                  white-space: pre-wrap;
                  background-color: #ffffff;
                "
                >İade işlemleri ile ilgili önemli bilgiler;<br /><br /></span
              ><span
                style="
                  color: #1d1c1d;
                  font-family: Slack-Lato, appleLogo, sans-serif;
                  font-size: 15px;
                  font-variant-ligatures: common-ligatures;
                  white-space: pre-wrap;
                  background-color: #ffffff;
                "
                >Ürünün adresinize teslim edildiği tarihten sonraki 14 gün
                içinde “Siparişlerim” sayfasından iade başvurusunda bulunarak
                iade sürecini başlatabilirsiniz.<br /><br /></span
              ><span
                style="
                  color: #1d1c1d;
                  font-family: Slack-Lato, appleLogo, sans-serif;
                  font-size: 15px;
                  font-variant-ligatures: common-ligatures;
                  white-space: pre-wrap;
                  background-color: #ffffff;
                "
                >İade amacıyla geri gönderilen ürünün orijinal kutusunda ve
                faturasıyla birlikte olması gerekmektedir. İade talebinizin
                kabul edilmesi için ürünün hasar görmemiş ve kullanılmamış
                olması önemlidir.<br /><br /></span
              ><span
                style="
                  color: #1d1c1d;
                  font-family: Slack-Lato, appleLogo, sans-serif;
                  font-size: 15px;
                  font-variant-ligatures: common-ligatures;
                  white-space: pre-wrap;
                  background-color: #ffffff;
                "
                >İade etmek istediğiniz ürün, tarafınızdan üretici firmaya
                ulaştırılacak ve iade işlemleriniz </span
              ><a
                class="c-link"
                style="
                  box-sizing: inherit;
                  text-decoration-line: none;
                  font-family: Slack-Lato, appleLogo, sans-serif;
                  font-size: 15px;
                  font-variant-ligatures: common-ligatures;
                  white-space: pre-wrap;
                  background-color: #ffffff;
                "
                href="http://ipsizcambaz.com/"
                target="_blank"
                rel="noopener noreferrer"
                >ipsizcambaz.com</a
              ><span
                style="
                  color: #1d1c1d;
                  font-family: Slack-Lato, appleLogo, sans-serif;
                  font-size: 15px;
                  font-variant-ligatures: common-ligatures;
                  white-space: pre-wrap;
                  background-color: #ffffff;
                "
              >
                tarafından takip edilecektir.<br /><br /></span
              ><span
                style="
                  color: #1d1c1d;
                  font-family: Slack-Lato, appleLogo, sans-serif;
                  font-size: 15px;
                  font-variant-ligatures: common-ligatures;
                  white-space: pre-wrap;
                  background-color: #ffffff;
                "
                >İade işlemi sonuçlandıktan sonra ürün bedeli 48 saat içinde
                kredi kartınıza/banka hesabınıza yansıyacaktır. Bu süre
                çalıştığınız bankaya göre farklılık gösterebilir.<br /><br /></span
              ><span
                style="
                  color: #1d1c1d;
                  font-family: Slack-Lato, appleLogo, sans-serif;
                  font-size: 15px;
                  font-variant-ligatures: common-ligatures;
                  white-space: pre-wrap;
                  background-color: #ffffff;
                "
                >Konuyla ilgili detaylı bilgi için “İptal &amp; İade” ve
                “Yardım” sayfasını ziyaret edebilirsiniz.<br /><br /></span
              ><span
                style="
                  color: #1d1c1d;
                  font-family: Slack-Lato, appleLogo, sans-serif;
                  font-size: 15px;
                  font-variant-ligatures: common-ligatures;
                  white-space: pre-wrap;
                  background-color: #ffffff;
                "
                >Cayma Hakkı Kullanımı ve İade Şartları, 6502 Sayılı Tüketicinin
                Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği
                hükümlerine tabidir.</span
              ></span
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
